<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.mapper.AreaMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.entity.Area">
        <id column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="area_priority" property="areaPriority" />
        <result column="area_create_time" property="areaCreateTime" />
        <result column="area_edit_time" property="areaEditTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        area_id, area_name, area_priority, area_create_time, area_edit_time
    </sql>

</mapper>
