<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.mapper.LocalauthMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.entity.Localauth">
        <id column="local_id" property="localId" />
        <result column="local_name" property="localName" />
        <result column="local_password" property="localPassword" />
        <result column="local_create_time" property="localCreateTime" />
        <result column="local_edit_time" property="localEditTime" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        local_id, local_name, local_password, local_create_time, local_edit_time, user_id
    </sql>

</mapper>
