<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.mapper.ProductMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.entity.Product">
        <id column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_desc" property="productDesc" />
        <result column="product_img_address" property="productImgAddress" />
        <result column="product_normal_price" property="productNormalPrice" />
        <result column="product_promotion_price" property="productPromotionPrice" />
        <result column="product_priority" property="productPriority" />
        <result column="product_create_time" property="productCreateTime" />
        <result column="product_edit_time" property="productEditTime" />
        <result column="product_enable_status" property="productEnableStatus" />
        <result column="shop_id" property="shopId" />
        <result column="productcategory_id" property="productcategoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id, product_name, product_desc, product_img_address, product_normal_price, product_promotion_price, product_priority, product_create_time, product_edit_time, product_enable_status, shop_id, productcategory_id
    </sql>

</mapper>
