<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.mapper.ShopcategoryMapper">

    <!-- 开启二级缓存 -->
 <!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.entity.Shopcategory">
        <id column="shop_category_id" property="shopCategoryId" />
        <result column="shop_category_name" property="shopCategoryName" />
        <result column="shop_category_desc" property="shopCategoryDesc" />
        <result column="shop_category_img" property="shopCategoryImg" />
        <result column="shop_category_create_time" property="shopCategoryCreateTime" />
        <result column="shop_category_edit_time" property="shopCategoryEditTime" />
        <result column="shop_category_priority" property="shopCategoryPriority" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_category_id, shop_category_name, shop_category_desc, shop_category_img, shop_category_create_time, shop_category_edit_time, shop_category_priority, parent_id
    </sql>

</mapper>
