<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.mapper.UserMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gk.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_gender" property="userGender" />
        <result column="user_type" property="userType" />
        <result column="user_enable_status" property="userEnableStatus" />
        <result column="user_create_time" property="userCreateTime" />
        <result column="user_edit_time" property="userEditTime" />
        <result column="user_email" property="userEmail" />
        <result column="user_img" property="userImg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_gender, user_type, user_enable_status, user_create_time, user_edit_time, user_email, user_img
    </sql>

</mapper>
